<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/css/styles.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Portfolio website</title>
    <link rel="icon" type="image/png" href="assets/img/musabpng.png" sizes="16x16">
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Musab</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#Experience" class="nav__link">Experience</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title , moving-text">Hi,<br>I'am <span class="home__title-color">Musab</span><br><p id ="moving-text">Dotnet Developer</p> </h1>

                <a href="https://wa.me/+966509703771" class="button">Contact</a>
            </div>

            <div class="home__social">
                <a href="https://www.linkedin.com/in/musab-masoud-7b5456298/" target="_blank" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                <a href="https://wa.me/+966509703771" class="home__social-icon"><i class='bx bxl-whatsapp-square'></i></a>
                <a href="https://github.com/musabmasoud" class="home__social-icon"><i class='bx bxl-github'></i></a>
            </div>
            <div class="home__img">
                <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                    </mask>
                    <g mask="url(#mask0)">
                        <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                        <image class="home__blob-img" x="50" y="60" width="1500" height="450" xlink:href="assets/img/musabpng.png" />
                    </g>
                </svg>
            </div>


        </section>

        <!--===== ABOUT =====-->
        <section class="about section " id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="~/assets/img/imm.png" alt="">
                </div>

                <div>
                    <h2 class="about__subtitle">I'am Musab</h2>
                    <p class="about__text">Experienced software Developer with a demonstrated history of working in the information technology and services industry. Skilled in C#, ASP.NET, MVC, Language Integrated Query (LINQ), SQL, Entity framework, JavaScript, jQuery, SQL Server and MySQL.</p>
                </div>
            </div>
        </section>
        <!--===== EXPERIENCE =====-->
        <section class="Experience section" id="Experience">
            <h2 class="section-title">Experience</h2>

            <div class="experience__container bd-grid">
                <div>
                    <h2 class="about__subtitle" style="color: #000;">Dotnet Developer</h2>
                    <span style="float: right; color: blue;">02-2022 - Current</span>
                    <h1 class="about__subtitle" style="color:dimgray;">TOQ FOR INFORMATION TECHNOLOGY</h1>
                    <br />
                    <p class="about__text"> Designing databases using SQL Server and designing Windows Form Applications</p>
                    <p class="about__text"> Creating websites using MVC and API integration them with payment gateways and other companies</p>
                    <p class="about__text"> Lead the development team in code reviews, technical discussions, and problem-solving</p>
                </div>
                <br />
                <br />
                <div>
                    <h2 class= "about__subtitle" style="color: #000;">Technical Supervisor</h2>
                    <span style="float: right; color: blue;">06-2018 - 01-2022</span>
                    <h1 class="about__subtitle" style="color:dimgray;">Ministry of Finance and Economy</h1>
                    <br />
                    <p class="about__text">Create users to access the pages of accountants, collectors, and auditors</p>
                    <p class="about__text">Integrating mobile devices and network devices with the Ministry of Finance for the collection process</p>
                    <p class="about__text">Develop and deliver technical training programs for staff members</p>
                    <p class="about__text">Oversee the maintenance and troubleshooting of hardware and software systems</p>

                </div>
                <br />
                <br />
                <div>
                    <h2 class="about__subtitle" style="color: #000;">Dotnet Developer</h2>
                    <span style="float: right; color: blue;">06-2017 - 01-2019</span>
                    <h1 class="about__subtitle" style="color:dimgray;">Freelancer</h1><br>
                    <p class="about__text">Full-stack Developer</p>
                </div>
            </div>
        </section>


        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Profesional Skills</h2>
                    <p class="skills__text">C# Programming: Proficient in C# programming language with extensive experience in developing applications, implementing algorithms, and solving complex problems.</p>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bx-code-curly skills__icon'></i>
                            <span class="skills__name">C# programming language</span>
                        </div>
                        <div class="skills__bar skills__html">
                        </div>
                        <div>
                            <span class="skills__percentage">95%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bxs-coin-stack skills__icon'></i>
                            <span class="skills__name">Microsoft SQL Server </span>
                        </div>
                        <div class="skills__bar skills__ux">
                        </div>
                        <div>
                            <span class="skills__percentage">90%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bx-world skills__icon'></i>
                            <span class="skills__name">ASP.NET Web API</span>
                        </div>
                        <div class="skills__bar skills__css">
                        </div>
                        <div>
                            <span class="skills__percentage">90%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bx-code-alt skills__icon'></i>
                            <span class="skills__name">Visual Basic.NET (VB.NET)</span>
                        </div>
                        <div class="skills__bar skills__ux">
                        </div>
                        <div>
                            <span class="skills__percentage">90%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bxl-javascript skills__icon'></i>
                            <span class="skills__name">JAVASCRIPT</span>
                        </div>
                        <div class="skills__bar skills__js">
                        </div>
                        <div>
                            <span class="skills__percentage">75%</span>
                        </div>
                    </div>
                </div>

                <div>
                    <img src="~/assets/img/work3.jpg" alt="" class="skills__img">
                </div>
            </div>
        </section>

        <!--===== WORK =====-->
        <section class="work section" id="work">
            <h2 class="section-title">Work</h2>

            <div class="work__container bd-grid">
                <a href="" class="work__img">
                    <img src="~/assets/img/img1.jpg" alt="">
                </a>
                <a href="" class="work__img">
                    <img src="~/assets/img/img2.jpg" alt="">
                </a>
                <a href="" class="work__img">
                    <img src="~/assets/img/img3.jpg" alt="">
                </a>
                <a href="" class="work__img">
                    <img src="~/assets/img/work4.jpg" alt="">
                </a>
                <a href="" class="work__img">
                    <img src="~/assets/img/work5.jpg" alt="">
                </a>
                <a href="" class="work__img">
                    <img src="~/assets/img/work6.jpg" alt="">
                </a>
            </div>
        </section>

        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <form action="musab.masoud@yahoo.com" method="post" enctype="text/plain" class="contact__form">
                    <input type="text" placeholder="Name" class="contact__input">
                    <input type="mail" placeholder="Email" class="contact__input">
                    <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                    <input type="button" value="Send" class="contact__button button">
                </form>
            </div>
        </section>
    </main>
    @RenderBody()

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">Musab</p>
        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-twitter'></i></a>
        </div>

        <p class="footer__copy">&#169; musab. All rigths reserved</p>
    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="~/assets/js/main.js"></script>
   @*  <script>
        document.addEventListener("DOMContentLoaded", function () {
            var textElement = document.getElementById("dynamic-text");
            var textContent = textElement.innerText;
            var index = 0;

            function animateText() {
                if (index < textContent.length) {
                    textElement.innerText = textContent.slice(0, index + 1);
                    index++;
                    setTimeout(animateText, 100); // تحريك حرف كل 100 مللي ثانية
                } else {
                    setTimeout(function () {
                        textElement.innerText = "نص جديد"; // تغيير النص بعد الانتهاء
                    }, 1000); // الانتظار لمدة ثانية واحدة قبل تغيير النص
                }
            }

            animateText(); // بدء التحريك
        });
    </script> *@
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var textElement = document.getElementById("moving-text");
            var textContent = textElement.innerText;
            var index = 0;
            var newText = "Technical Supervisor";
            var isNewText = false;

            setInterval(function () {
                if (!isNewText) {
                    if (index < textContent.length) {
                        textElement.innerText = textContent.slice(0, index + 1);
                        index++;
                    } else {
                        index = 0; // إعادة تعيين الفهرس لبدء التحريك من البداية مرة أخرى
                        isNewText = true;
                    }
                } else {
                    if (index < newText.length) {
                        textElement.innerText = newText.slice(0, index + 1);
                        index++;
                    } else {
                        index = 0; // إعادة تعيين الفهرس لبدء التحريك من البداية مرة أخرى
                        isNewText = false;
                    }
                }
            }, 150); // تحريك حرف كل 100 مللي ثانية
        });
    </script>
</body>
</html>